@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --white: hsl(0, 0%, 100%);
  --slate-300: hsl(212, 45%, 89%);
  --slate-500: hsl(216, 15%, 48%);
  --slate-900: hsl(218, 44%, 22%);
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  height: 100dvh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: var(--slate-300);
  font-family: "Outfit", serif;
  font-size: 16px;
  color: var(--slate-900);
}

.qr-code-component {
  width: 90%;
  max-width: 340px;
  border-radius: 16px;
  padding: 16px;
  background-color: var(--white);
  box-shadow: 0 8px 80px var(--slate-500);
}

.qr-code-component__image {
  height: 320px;
  border-radius: 8px;
  background-image: url("./images/image-qr-code.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.qr-code-component__title,
.qr-code-component__description {
  text-align: center;
}

.qr-code-component__title {
  margin: 24px 8px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

.qr-code-component__description {
  margin: 16px;
  color: var(--slate-500);
}
